* {
  padding: 0;
  margin: 0;
}
.hr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #333;
}
.todo {
  border: 1px solid #333;
  margin: 10px auto;
  border: 1px solid #ccc;
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  font-size: 14px;
}
.search {
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
.list {
  border: 1px solid #ccc;
  border-radius: 5px;
}
.list li {
  position: relative;
  list-style: none;
  height: 28px;
  line-height: 28px;
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
}
.list li .num {
  background-color: rgba(241, 202, 245, 0.6);
  margin-right: 5px;
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border-radius: 10px;
}
.list li.done label {
  text-decoration: underline;
  color: #aaa;
}
.list input {
  margin-right: 10px;
}
.list label {
  margin-right: 10px;
}
.list label input {
  display: none;
}
.list label.inputing span {
  display: none;
}
.list label.inputing input {
  display: inline-block;
}
.list li:last-child {
  border-bottom: 0;
}
.list .btn {
  display: none;
  position: absolute;
  right: 10px;
  top: 2px;
  line-height: 20px;
  color: #fff;
  border: 1px solid rgba(228, 49, 49, 1);
  background-color: rgba(228, 49, 49, 0.6);
  padding: 0 10px;
  border-radius: 10px;
  cursor: pointer;
}
.list li:hover {
  background-color: rgba(239, 163, 163, 0.66);
}
.list li:hover .btn {
  display: inline-block;
}
.result {
  padding: 20px 10px;
}
.result input {
  margin-right: 10px;
}
