* {
  padding: 0;
  margin: 0;
}
.hr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #333;
}
.todo {
  border: 1px solid #333;
  margin: 10px auto;
  border: 1px solid #ccc;
  width: 500px;
  padding: 20px;
  border-radius: 5px;
}
.search {
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
.list {
  border: 1px solid #ccc;
  border-radius: 5px;
}
.list li {
  position: relative;
  list-style: none;
  height: 28px;
  line-height: 28px;
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
}
.list li.done label {
  text-decoration: underline;
  color: #aaa;
}
.list input {
  margin-right: 10px;
}
.list label {
  margin-right: 10px;
}
.list label input {
  display: none;
}
.list label.inputing span {
  display: none;
}
.list label.inputing input {
  display: inline-block;
}
.list li:last-child {
  border-bottom: 0;
}
.list button {
  display: none;
  position: absolute;
  right: 10px;
  top: 2px;
}
.list li:hover button {
  display: inline-block;
}
.result {
  padding: 20px 10px;
}
.result input {
  margin-right: 10px;
}
